body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.form input {
    padding: 6px;
    margin-right: 5px;
}

button {
    padding: 6px 12px;
    cursor: pointer;
}

/* Table alignment */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #000;
    padding: 6px;
    font-size: 14px;
}

th {
    background-color: #f4f4f4;
    text-align: center;
}

td:nth-child(1) {
    text-align: left;   /* Item */
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(4) {
    text-align: center; /* Qty, Price, Total */
}

/* Total amount alignment */
.total-section {
    margin-top: 10px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

@media print {
    body {
        padding: 0;
    }

    .form,
    button {
        display: none;
    }

    h2 {
        text-align: center;
    }

    table {
        font-size: 14px;
    }
}

@media print {
    .form,
    button,
    input {
        display: none;
    }
}

/* Default (screen view) */
.qty-text {
    display: none;
}

/* Print view */
.print-only {
    display: none;
}

@media print {
    .no-print {
        display: none !important;
    }

    .print-only {
        display: flex;
    }

    input {
        display: none;
    }
}

.bill-header {
    text-align: center;
    margin-bottom: 15px;
}

.bill-header h1 {
    margin: 0;
    font-size: 24px;
}

.bill-header p {
    margin: 2px 0;
    font-size: 14px;
}

.invoice-meta {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    margin-bottom: 8px;
}

.summary-section {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 14px;
}

.words {
    width: 55%;
}

.totals {
    width: 40%;
}

.totals .row {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
}

.totals .highlight {
    background: #9b9be5;
    color: #fff;
    padding: 6px;
    font-weight: bold;
}

.totals .border-top {
    border-top: 1px solid #000;
    margin-top: 5px;
    padding-top: 5px;
}

.sign {
    margin-top: 20px;
    text-align: right;
}


@media print {
    .bill-logo img {
        width: 500px;
    }
}

.bill-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url("./logo.png");
    background-repeat: no-repeat;
    background-position: center 55%;
    background-size: 520px;

    opacity: 0.05;
    z-index: 0;
}


.bill-container > * {
    position: relative;
    z-index: 1;
}

@media print {
    .bill-container::before {
        opacity: 0.05;
        background-size: 500px;
    }
}
